<% layout('/layouts/adminBoilerplate') %>
<%- include("../layouts/layout.ejs") %>


<!-- 
<div class="head-title">
	<div class="left">
		<h1>Dashboard</h1>
		<ul class="breadcrumb">
			<li><a href="#">Dashboard</a></li>
			<li><i class='bx bx-chevron-right'></i></li>
			<li><a class="active" href="#">Home</a></li>
		</ul>
	</div>
    

</div> -->
<div class="outer-cont">
<div class="container1">
    
    <div class="right1"></div>
    <div class="left1">
        <h1>Welcome Back, ADMIN !</h1>
        <p> Empower your platform with ease by adding and managing schemes to create and oversee various initiatives effectively. Launch new courses to provide opportunities for learning and growth.Manage users efficiently by viewing all recruiters, job seekers and businesses and ensuring seamless operations. Take control and make a lasting impact today!</p>
      </div>
</div>

</div>

<ul class="box-info">
    <a href="/admin/job-seekers" style="text-decoration: none">
        <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
                <h3><%= jobSeekerCount %></h3>
                <p>Job Seekers</p>
            </span>
        </li>
    </a>
    <a href="/admin/businesses" style="text-decoration: none">
        <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
                <h3><%= businessCount %></h3>
                <p>Business</p>
            </span>
        </li>
    </a>
    
    <!-- <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
            <h3>N$2543.00</h3>
            <p>Total Sales</p>
        </span>
    </li> -->
    <li>
        <i class='bx bxs-box'></i> 
        <span class="text">
            <h3><%= totalProducts %></h3> 
            <p>Total Products</p>
        </span>
    </li>
</ul>

