<section id="sidebar">
	<a href="#" class="brand">
		<i class='bx bxs-smile bx-lg'></i>
		<span class="text">AdminHub</span>
	</a>
	<ul class="side-menu top">
		<li class="active">
			<a href="/admin/home">
				<i class='bx bxs-dashboard bx-sm'></i>
				<span class="text">Home</span>
			</a>
		</li>
		<li>
			<a href="/admin/showVideo">
				<!-- <span class="material-symbols-outlined">
					school
				</span> -->
				<span class="text"> Manage Courses</span>
			</a>
		</li>
		<li>
			<a href="/analytics">
				<span class="text material-symbols-outlined">
					account_balance
				</span>
				<span class="text">Schemes</span>
			</a>
		</li>
		<li>
			<a href="/messages">
				<i class='bx bxs-message-dots bx-sm'></i>
				<span class="text">Messages</span>
			</a>
		</li>
		<li>
			<a href="/team">
				<i class='bx bxs-group bx-sm'></i>
				<span class="text">Team</span>
			</a>
		</li>
	</ul>
	<ul class="side-menu bottom">
		<li>
			<a href="/settings">
				<i class='bx bxs-cog bx-sm bx-spin-hover'></i>
				<span class="text">Settings</span>
			</a>
		</li>
		<li>
			<a href="/admin/logout" class="logout">
				<i class='bx bx-power-off bx-sm bx-burst-hover'></i>
				<span class="text">Logout</span>
			</a>
		</li>
	</ul>
</section>
<script>
document.addEventListener("DOMContentLoaded", function () {
	const currentPath = window.location.pathname; // Get current path
	const menuItems = document.querySelectorAll('.side-menu li a');
  
	menuItems.forEach(item => {
	  if (item.getAttribute('href') === currentPath) {
		item.parentElement.classList.add('active');
	  } else {
		item.parentElement.classList.remove('active');
	  }
	});
  });

</script>
