<nav style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px;">
    <div style="display: flex; align-items: center;">
        <i class='bx bx-menu bx-sm'></i>
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="/img/Pragati_logo.png" alt="Logo" style="height: 40px; width: auto; margin-right: 10px;">
            <h2 class="m-0 text-primary">Pragati</h2>
        </a>
    </div>
    <div id="google_translate_element" style="padding-top: 10px;"></div>
</nav>
