<section id="sidebar">
	<a href="#" class="brand">
		<span class="text">👧Pragati</span>
	</a>
	<ul class="side-menu top">
		<li class="active">
			<a href="/admin/home">
				<i class='bx bxs-dashboard bx-sm'></i>
				<span class="text">Home</span>
			</a>
		</li>
		<li>
			<a href="/admin/showVideo" class="manage-courses-link">
				<span class="fa-solid fa-book" style="margin-right: 8px;"></span>
				<span class="text">Manage Courses</span>
			  </a>
			  
			  
		</li>
		<li>
			<a href="/admin/scheme" style="display: flex; align-items: center; gap: 8px;">
				<span class="material-symbols-outlined">account_balance</span>
				<span class="text">Schemes</span>
			  </a>
			  
		</li>
		<li>
			<a href="/admin/logout" class="logout">
				<i class='bx bx-power-off bx-sm bx-burst-hover'></i>
				<span class="text">Logout</span>
			</a>
		</li>
	</ul>
</section>
<script>
document.addEventListener("DOMContentLoaded", function () {
	const currentPath = window.location.pathname; // Get current path
	const menuItems = document.querySelectorAll('.side-menu li a');
  
	menuItems.forEach(item => {
	  if (item.getAttribute('href') === currentPath) {
		item.parentElement.classList.add('active');
	  } else {
		item.parentElement.classList.remove('active');
	  }
	});
  });

</script>
