<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Pragati</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/home" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">New Hiring</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/hiring" class="dropdown-item">Hire</a>
                    <a href="/hiring/allaplicants" class="dropdown-item">View Application</a>
                </div>  
            </div>
           




            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Products</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/products/add" class="dropdown-item">Add product</a>
                    <a href="/myproducts/my-products" class="dropdown-item">View My Product</a>
                    <a href="/products/allProducts" class="dropdown-item">Purchase Product</a>
                </div>  
            </div>






            <a href="/finance/dashboard" class="nav-item nav-link">Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="#" class="nav-item nav-link">Mentorship</a>
                    <a href="/Videofinance/videostop5" class="nav-item nav-link">Finance</a>
                    <a href="#" class="nav-item nav-link">Skill development</a>
                    <a href="#" class="nav-item nav-link">Funds&Finance</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"></a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/auth/login" class="dropdown-item">Login</a>
                    <a href="/auth/logout" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
        
    </div>
</nav>
<!-- Navbar End -->