<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary">👧Pragati</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/worker/home" class="nav-item nav-link active">Home</a>
            <a href="/worker/alljobs" class="nav-item nav-link"> Job Application </a>
            
                    <a href="/auth/logout" class="nav-item nav-link">Logout</a>
               
        </div>
        
    </div>
</nav>
<!-- Navbar End -->

<div id="google_translate_element"></div>
