<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
	<link rel="stylesheet" href="/css/admin/style.css" />
	<title>Admin</title>
</head>
<body>

	<%- include("../includes/adminSidebar.ejs") %>

	<section id="content">

		<%- include('../includes/adminNavbar.ejs') %>

		
		<main>
			<%- body %>
		</main>
	</section>

	<!-- JavaScript -->
	<script src="/js/script.js"></script>
</body>
</html>
